.wrapper-footer {
  margin-top: 30px;
  background-color: rgb(38, 38, 38);
  display: flex;
  justify-content: center;
}

.footer {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  &__logo {
    margin-right: 100px;
  }
  &__menus {
    height: 100%;
    flex-grow: 1;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    height: 100%;
    gap: 10px;
    & a:hover {
      color: red;
    }
  }
}
