html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

:root {
  --light: #35b6fa11;
  --light-gray: #f8f8f8;
  --shadow: 0px 0px 7px 1px #333;
  --light-shadow: 0px 0px 7px 1px rgb(238, 238, 238);
  --theme-color: #e50914;
  --theme-second: #44b7ff;
  --gray: rgb(251, 251, 251);
  --light-blue: #ebf5ff;
  --gray-text: rgb(199, 199, 199);
  --red: #e50914;
  --green: rgb(25, 221, 25);
  --overlay: rgba(0, 0, 0, 0.5);
  --gray-shadow: 0px 0px 7px 1px rgb(49 49 49);
}
